# Ignore class files
*.class

# Ignore specific class files
/ForgotPasswordApp.class
/LoginApp$1.class
/LoginApp$LoginWorker.class
/LoginApp.class
/User.class
/TestResult.class
/RegisterApp.class
/LoginApp$RegistrationWindow.class
/UserDatabase.class

# Ignore .dist directory
.dist/
